@page "/requests/details/{id:int}"
@using BlazorDesk.AppModels.View
@inject HttpClient Http

<h1>Request details</h1>

@if (request == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@request.Subject</h1>
    <h2>@request.Id</h2>
    <h4>@request.Description</h4>
}

@code {
    //binds it from the url
    [Parameter]
    public int Id { get; set; }

    RequestDetailsViewModel request;

    protected override async Task OnInitializedAsync()
    {
        request = await Http.GetJsonAsync<RequestDetailsViewModel>("Requests/" + Id);
    }

}
